<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'accueil</title>
    <link th:href="@{/template.css}" rel="stylesheet">
</head>
<body>

</body>
<header>
    <nav th:replace="~{nav :: nav}"></nav>
</header>
<main>
    <h1>Bienvenue sur la page d'accueil</h1>

    <form action="/search" method="get">
        <fieldset>
            <legend>Rechercher un étudiant</legend>
            <label for="lastname">Nom
                <input type="text" name="lastname" id="lastname" required>
            </label>
            <label for="firstname">Prénom
                <input type="text" name="firstname" id="firstname" required>
            </label>
            <button type="submit">Rechercher</button>
        </fieldset>

    </form>
</main>



</html>